<!-- <h1 class="text">Hello Cybersoft</h1> -->

<!-- <app-demo></app-demo> -->

<!-- Bài tập 1 -->
<!-- <app-header></app-header>
<div class="wrapper">
  <div class="left">
    <app-content></app-content>
  </div>
  <div class="right">
    <app-sidebar></app-sidebar>
  </div>
</div>
<app-footer></app-footer> -->

<!-- Bài tập 2 -->
<!-- <app-baitap2></app-baitap2> -->
<!-- <hr />
<app-structural-directive></app-structural-directive>
<hr />
<app-attribute-directive></app-attribute-directive>
<hr />
<app-example-directive></app-example-directive> -->

<!-- <app-interaction></app-interaction> -->
<!-- <app-baitap8></app-baitap8> -->


<router-outlet></router-outlet>














