<div class="container">
  <div class="row">
    <!-- Loading -->
    <div *ngIf="loading" class="col-sm-12">
      <!-- TODO: thay thế thành app-loading -->
      <h1 class="text-center">Loading...</h1>
    </div>

    <!-- Error -->
    <!-- TODO: thay thế thành app-error -->
    <div *ngIf="error" class="col-sm-12 alert alert-danger">
      <p class="text-center">Something went wrong</p>
    </div>

    <!-- Danh sách phim -->
    <div *ngFor="let phim of danhSachPhim | slice: 0:5" class="col-sm-4">
      <div class="card">
        <img class="card-img-top" [src]="phim.hinhAnh" />
        <div class="card-body">
          <h4 class="card-title">{{ phim.tenPhim | uppercase }}</h4>
          <p class="card-text">{{ phim.moTa | shortcut: 50 }}</p>
          <p>{{ phim.ngayKhoiChieu | date: "dd/MM/yyyy" }}</p>
          <p>{{ 500000 | currency: "VND" }}</p>
          <button
            class="btn btn-success"
            routerLink="/detail/{{ phim.maPhim }}"
          >
            Chi tiết
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
